<!DOCTYPE html>
<html>
<head>
  <title>E-commerce</title>
</head>
<body>
  <h1>Check your cart</h1>

  <div class="d-column justify-content">
    {{#each carts}}
      <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">Cart</h5>
            <p class="card-text">Product: {{this.product_id}}</p>
            <p class="card-text">Price: {{this.product_id.price}}</p>            
            <a href="#" class="btn btn-primary">buy</a>
        </div>
      </div>
    {{/each}}
  </div>
</body>
</html>