<div class="container">
    <div class="col-12 d-flex flex-column align-items-center">
        <h1>CHAT</h1>
        <br />
        <div>
            <i id="username" class="me-1"></i>
            <input type="text" placeholder="type!" id="chatbox" class="p-1 ps-2 pe-2">
        </div>
        <div>
            <p id="messages"></p>
        </div>
    </div>
</div>