<!DOCTYPE html>
<html>
<head>
  <title>E-commerce</title>
</head>
<body>
    <button class="cart-button">{{ cartItemCount }}</button>

  <h1>Welcome to our artisan bakery</h1>

  <div class="d-flex justify-content">
    {{#each products}}
      <div class="card" style="width: 18rem">
        <img src={{thumbnail}} class="card-img-top" style="width: 10rem; height: 8rem">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">+ info</a>
        </div>
      </div>
    {{/each}}
  </div>
</body>
</html>