<!DOCTYPE html>
<html>
<head>
  <title>E-commerce</title>
</head>
<body>
  <h1>Check out our new artisan bakery</h1>

  <div class="d-column justify-content">
    {{#each products_id}}
      <div class="card" style="width: 18rem">
        <img src={{thumbnail}} class="card-img-top" style="width: 10rem; height: 8rem">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <a href="#" class="btn btn-primary">+ info</a>
        </div>
      </div>
    {{/each}}
  </div>
</body>
</html>